/*ola este es una prueba de inteligencia de jose*/
:root {
  --primary-color: #B6CDE1;
  --secondary-color: #ffffff;
  --font-family: 'Arial', sans-serif;
}


.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}